<p>users data </p>
<table id="schoolTableDiv" class="table table-striped table-bordered" style="width:30%">
  <thead>
      <tr>
          <th>Id</th>
          <th>Bus</th>
          <th>Email</th>
          <th>Rfid</th>
          <th>Sms</th>
      </tr>
  </thead>
  <tbody *ngFor = "let data of allSchoolsArray">
      <tr>
          <td>{{data.school_id}}</td>
          <td>{{data.bus_count}}</td>
          <td>{{data.school_email}}</td>
          <td>{{data.rfid_enabled}}</td>
          <td>{{data.sms_status}}</td>
      </tr>
  </tbody>
</table>
