<br><br><br>

<h5>Upload PDF</h5>
<section class="search-box">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12 listing-block">
<table class="table table-lg table-bordered">
    <tbody>
        <tr>
            <td>ABVI</td>
            <td>
                <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
            </td>
           <!-- <p>  Upload Percent: {{percentDone}}%      </p>-->    
            <td>    <ng-container *ngIf="uploadSuccess">
                Upload Successful
              </ng-container> </td>
        </tr>

        <tr>
            <td>Hampton</td>
            <td>
                <input type="file" (change)="fileChangeHampton($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
            </td>
           <!-- <p>  Upload Percent: {{percentDone}}%      </p>-->    
            <td>    <ng-container *ngIf="uploadSuccess">
                Upload Successful
              </ng-container> </td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
</section>
