
<h5>Welcome to {{ title }}!</h5>
<h6>loading app.component.html</h6>
<!--The content below is only a placeholder and can be replaced.-->
<header class='text-center text-primary'><h4>DATALAKE  SOLUTIONS</h4></header>
  <!-- <base href="../rfidadmin/"> -->
<div class="tab" id ="mainTabDiv" >
  <button class="tablinks" routerLink="/usersL" routerLinkActive="active" >USERS</button>
  <button class="tablinks" routerLink="/uploadsL"  routerLinkActive="active">Uploads</button>
</div>
<router-outlet></router-outlet>