
<!--<div class="large-circle circle" style="background-color: #363783;"  ></div>
<div class="large-circle circle" style="background-color: #363783;" >
  <i  routerLink="/fleetlog" class="tm" data-label="Tranport Manager">
<img  class="img" src="https://s3-us-west-2.amazonaws.com/www.dlscloudservices.com/admin/yourbuddy/assets/images/transportmanger.png">
  </i>
  <i  routerLink="/finance"  class="fm" data-label="Finance Manager">
    <img  class="img" src="https://s3-us-west-2.amazonaws.com/www.dlscloudservices.com/admin/yourbuddy/assets/images/financemanger.png">
  </i>
  <i  routerLink="/operation"  class="om" data-label="Operation Manager">
    <img  class="img" src="https://s3-us-west-2.amazonaws.com/www.dlscloudservices.com/admin/yourbuddy/assets/images/operationmanger.png">
  </i>
</div>
-->
<div class="medium-circle circle" style="background-color: #363783;" >
  <i routerLink="/updatetarget"   class="st" data-label="Update Target">
   <!-- <img  class="img" src="https://s3-us-west-2.amazonaws.com/www.dlscloudservices.com/admin/yourbuddy/assets/images/study.png">
 -->
<span class="fa fa-book"></span>
  </i>
  <i routerLink="/uploadpdf"   class="ma" data-label="Upload PDF">
  <!--  <img  class="img" src="https://s3-us-west-2.amazonaws.com/www.dlscloudservices.com/admin/yourbuddy/assets/images/manager.png">
  -->
  <span class="fa fa-upload"></span>
  </i>
  <i  routerLink="/downloadexcel"  class="te"  data-label="Download Excel">
<!--   <img  class="img" style="color: white;" src="https://s3-us-west-2.amazonaws.com/www.dlscloudservices.com/admin/yourbuddy/assets/images/Teacher.png">
-->
<span class="fa fa-download"></span>
</i>
</div>
<!--<div class="small-circle circle" style="background-color: #363783;" >
  <i routerLink="/coach"   class="co" data-label="Coach">
    <img  class="img" src="https://s3-us-west-2.amazonaws.com/www.dlscloudservices.com/admin/yourbuddy/assets/images/running.png">
  </i>
  <i  routerLink="/security"  class="se" data-label="Security">
    <img  class="img" src="https://s3-us-west-2.amazonaws.com/www.dlscloudservices.com/admin/yourbuddy/assets/images/policeman.png">
  </i>
</div>-->
<div class="close" style="background-color: #363783;" ><i class="fa fa-times"></i></div>
<div class="hamburger" style="background-color: #363783;" ><i class="fa fa-bars"></i></div>
<div class="label"></div>